body{
	background-color:#222930;
	background-image: url("../img/blue.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color:white;
	padding-left: 70px;
	border: 5px solid darkblue;
}

h1{
	color:#D2723A;
	padding: 10px;
	padding-left: 20px;
}

img#logo{
	height: 100px;
	width: 100px;
	margin-top: 20px;
}

img.foto{
	transform: rotate(270deg);
	width: 160px;
	height: 170px;
}

.generales{
	padding-top: 10px;	
}

h4{
	color:#4EB1BA;	
}
